/* ADDED FONTS */
@font-face {
    font-family: IRANSans;
    src: url("../assets/fonts/ttf/IRANSansWeb\(FaNum\).ttf");
    font-style: normal;
}
@font-face {
    font-family: IRANSansBold;
    src: url("../assets/fonts/ttf/IRANSansWeb\(FaNum\)_Bold.ttf");
    font-style: normal;
}
@font-face {
    font-family: IRANSansLight;
    src: url("../assets/fonts/ttf/IRANSansWeb\(FaNum\)_Light.ttf");
    font-style: normal;
}
@font-face {
    font-family: IRANSansMedium;
    src: url("../assets/fonts/ttf/IRANSansWeb\(FaNum\)_Medium.ttf");
    font-style: normal;
}
@font-face {
    font-family: IRANSansUltraLight;
    src: url("../assets/fonts/ttf/IRANSansWeb\(FaNum\)_UltraLight.ttf");
    font-style: normal;
}
/* ENDED FONTS */
